body {
 background: #fbf6d8; 
}
body.main {
  background: #fbf6d8 url("background3.png");
}

.main-header {
  margin-bottom: 0; 
}
.m-instr {
  width: 25%;
}

td {
  vertical-align: top;
}

.img-sem {
 float: left;
 width: 25%; 
  margin-right: 12px;
  margin-bottom: 12px;
}

.hh-sem {
 
}
.content2 {
  width: 100%;
  height: 275px;
  border: 0;
}
